.vs/ 
bin/ 
obj/ 
*.suo 
*.user 
*.pdb 
*.dll 
*.exe 
[Bb]in/ 
[Oo]bj/ 
-packages 
*.csproj.user 
*.sln.registr.suo 
*.VC.db 
*.sdf 
*.vshost.exe 
*.vshost.exe.manifest 
-RestorePackages 
TestResults/ 
build/ 
AnkhSVN-*-vs.log 
!**/[Dd]ebug[Xx]/** 
!**/[Rr]elease[Xx]/** 
*.dbmdl 
*.jfm 
.idea/ 
.ionide/ 
*.log 
*.bak 
*.cache 
-ReSharper*/ 
ipch/ 
*.aps 
*.ncb 
*.opensdf 
*.sdf 
*.unsuccessfulbuild 
*.message 
*.resharper 
*.vspscc 
*.vsscc 
*.vssscc 
*.build.log 
*.markdown.html 
*.intellisense.js 
*.js.map 
.localhistory/ 
.restore/ 
.cmake/ 
CMakeBuild/ 
[Cc]make[Bb]uild/ 
[Mm]akefile* 
*.ninja 
*.swp 
*.obj 
*.lib 
*.o 
*.a 
*.la 
*.lo 
*.so 
*.dylib 
[Ll]ib/ 
[Ee]xe/ 
*.aps 
*.lck 
*.opendb 
*.VC.db 
*.docstates 
vssver.scc 
pragma.vmoptions 
*.zip 
*.tar 
*.gz 
*.rar 
*.7z 
*.dmg 
*.iso 
*.vdi 
*.vbox 
*.vm* 
*.ova 
*.vhd 
*.vhdx 
*.mdf 
*.ldf 
*.ndf 
*.sublime-project 
*.sublime-workspace 
.settings/ 
.project 
.classpath 
*.code-workspace 
*.VC.opendb 
*.VC.VC.opendb 
-packages 
